@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Center the main container */
.password-generator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f2f5;
  }
  
  /* Acrylic style for the inner container */
  .password-generator-inner {
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Heading style */
  .password-generator-inner h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
  }
  
  /* Input styling similar to Material UI */
  .password-input {
    width: 95%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }
  
  .password-input:focus {
    border-color: #6200ea;
  }
  
  /* Requirements styling */
  .requirements {
    text-align: left;
    margin-bottom: 15px;
    color: #333;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }
  
  .requirements label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .requirements input[type="checkbox"] {
    margin-right: 8px;
  }
  
  /* Progress bar styling */
  .progress-bar-container {
    height: 10px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 30px;
  }
  
  .progress-bar {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease;
  }
  
  .progress-bar.low {
    background-color: red;
  }
  
  .progress-bar.medium {
    background-color: orange;
  }
  
  .progress-bar.high {
    background-color: green;
  }
  
  /* Password strength text */
  .password-strength-text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #333;
    margin-top: 5px;
  }
  
  /* Additional requirements styling */
  .additional-requirements {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .requirement-warning {
    color: red;
    font-style: italic;
    font-size: 14px;
    margin: 2px 0;
  }
  
  